body {
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

/* h1, h2 {
    color: #333;
    text-align: center;
    margin: 10px 0;
} */



footer {
    text-align: center;
    color: #555;
    margin-top: 20px;
}
.Todo-item:hover .trash-icon{
    display: block;
}