<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <form>
                <!-- form for adding todos -->
            </form>
            <%- include('todos.ejs', { overdueTodos, dueTodayTodos, dueLaterTodos }) %>
        </div>
    </div>
    <%- include('footer.ejs') %>
</body>
</html>